@model scheapp.app.Models.View.CreateProfessionalScheduleVM
@using scheapp.app.Models.Data.DspModels
@{
    ProfessionalBusinessDetailDsp businessProfessional = (ProfessionalBusinessDetailDsp)ViewBag.BusinessProfessional;
    ViewData["Title"] = "Schedules";
    if (businessProfessional.ProfessionalRole == "business_admin")
    {
        Layout = "_BusinessLayout";
    }
    else if (businessProfessional.ProfessionalRole == "business_professional")
    {
        Layout = "_ProfessionalLayout";
    }
}
<h1>Create Schedule For</h1>

<h4>@Model.FirstName @Model.LastName</h4>

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<style>
    #filters {
        margin-bottom: 10px;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="timePickerModal" tabindex="-1" aria-labelledby="timePickerModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="timePickerModalLabel">Select Start And End Time</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center mb-3">
                    <span style="width:200px">Selected Start Date Time: </span>
                    <span id="spnCalendarStartDateSelection" style="width:100px"></span>
                    <span id="spnCalendarStartTimeSelection" style="width:100px">00:00 AM</span>
                </div>
                <div class="d-flex justify-content-center">
                    <span style="width:200px">Selected End Date Time: </span>
                    <span id="spnCalendarEndDateSelection" style="width:100px"></span>
                    <span id="spnCalendarEndTimeSelection" style="width:100px">00:00 AM</span>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <span style="width:200px">Select Start Time: </span>
                    <input class="form-control" style="width:100px" type="time" id="start-time-picker" onchange="Validate_CalendarTimeSelection('start');">
                    <span style="width:200px; margin-left:10px">Select End Time:  </span>
                    <input class="form-control" style="width:100px" type="time" id="end-time-picker" onchange="Validate_CalendarTimeSelection('end');">
                </div>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button> *@
                <button type="button" class="btn btn-warning" onclick="CancelCalendarSelection();" >Cancel</button>
                <button type="button" id="btnValidatCalendarSelectionAndSubmit" class="btn btn-primary" onclick="ValidatCalendarSelectionAndSubmit();" disabled>Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="p-3" >
    <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Calendar</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Date Range</button>
        </div>
    </nav>
    <div class="tab-content p-3 border" id="nav-tabContent">
        <input type="hidden" id="hdnCalendarSelectedStartTime" value="" />
        <input type="hidden" id="hdnCalendarSelectedEndTime" value="" />
        <input type="hidden" id="hdnCalendarSelectedStartDateTime" value="" />
        <input type="hidden" id="hdnCalendarSelectedEndDateTime" value="" />
        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="d-md-flex d-none  mt-1 mb-3 justify-content-around" id="filters">
                <label><input type="checkbox" class="day-toggle" value="0" checked> Sunday</label>
                <label><input type="checkbox" class="day-toggle" value="1" checked> Monday</label>
                <label><input type="checkbox" class="day-toggle" value="2" checked> Tuesday</label>
                <label><input type="checkbox" class="day-toggle" value="3" checked> Wednesday</label>
                <label><input type="checkbox" class="day-toggle" value="4" checked> Thursday</label>
                <label><input type="checkbox" class="day-toggle" value="5" checked> Friday</label>
                <label><input type="checkbox" class="day-toggle" value="6" checked> Saturday</label>
            </div>
            <div class="d-flex d-md-none mt-1 mb-4 justify-content-around" id="filters">
                <label><input type="checkbox" class="day-toggle" value="0" checked> Sun</label>
                <label><input type="checkbox" class="day-toggle" value="1" checked> Mon</label>
                <label><input type="checkbox" class="day-toggle" value="2" checked> Tue</label>
                <label><input type="checkbox" class="day-toggle" value="3" checked> Wed</label>
                <label><input type="checkbox" class="day-toggle" value="4" checked> Thu</label>
                <label><input type="checkbox" class="day-toggle" value="5" checked> Fri</label>
                <label><input type="checkbox" class="day-toggle" value="6" checked> Sat</label>
            </div>
            

            <div id="calendar"></div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
                <div class="col-md-4">
                    @Html.HiddenFor(Model => Model.BusinessId, new { Id = "hdnBusinessId_CreateSchedule" })
                    @Html.HiddenFor(Model => Model.ProfessionalId, new { Id = "hdnProfessionalId_CreateSchedule" })
                    <div class="form-group mb-4">
                        <label>Start Date & Time: <input class="form-control mt-2" type="datetime" id="start-datetime-picker" onchange="Validate_CreateSchedule('start')"></label>
                    </div>
                    <div class="form-group mb-4">
                        <label>End Date & Time: <input class="form-control mt-2" type="text" id="end-datetime-picker" onchange="Validate_CreateSchedule('end')"></label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" id="btnSubmit_CreateSchedule" value="Create" onclick="ConfirmAndCreate('daterange');" class="btn btn-primary" disabled />
                </div>
            </div>
        </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="~/js/professionals/createschedule.js"></script>