@model scheapp.app.Models.View.ProfessionalScheduleVM
@using scheapp.app.Models.Data.DspModels
@{
    ProfessionalBusinessDetailDsp businessProfessional = (ProfessionalBusinessDetailDsp)ViewBag.BusinessProfessional;
    ViewData["Title"] = "Schedules";
    if (businessProfessional.ProfessionalRole == "business_admin")
    {
        Layout = "_BusinessLayout";
    }
    else if (businessProfessional.ProfessionalRole == "business_professional")
    {
        Layout = "_ProfessionalLayout";
    }
}
<style>
    #divScheAppContentDisplay .fixed-table-toolbar .search-input{
        margin-right:15px;
    }

    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<input type="hidden" id="hdnBusinessId" value="@Html.Raw(Model.BusinessId)" />

<h3>@Model.FirstName @Model.LastName</h3>
<div id="toolbar">
    <button id="remove"
            class="btn btn-danger"
            disabled>
        <i class="fa fa-trash"></i> Delete
    </button>
    <a class="btn btn-outline-secondary ms-4" href="/Professionals/CreateSchedule?businessId=@Model.BusinessId&professionalId=@Model.ProfessionalId"> <i class="fa fa-add"></i> Add Schedule</a>
</div>
<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-show-columns-toggle-all="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[30, 50, 100, all]"
       data-show-footer="true"
@* data-side-pagination="server" *@
       data-side-pagination="client"
       data-url="/ProfessionalsData/GetSchedules?businessId=3&professionalId=8"
       data-response-handler="responseHandler">
</table>
<script src="~/js/professionals/schedules.js"></script>

