<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link rel="stylesheet" href="~/lib/bootstrap535/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app.styles.css" asp-append-version="true" />
    <link href="~/lib/jquery/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/all.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ScheApp</a>
                </div>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <div>
                        @if (User.IsInRole("business_admin"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="BusinessAdmin" asp-action="Index">Business Admin</a>
                        }
                        
                        @if (User.IsInRole("scheapp_admin"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">ScheApp Admin</a>
                        }
                        </div>
                        <form class="form-inline" asp-area="Identity" asp-page="/Identity/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-outline-danger"><i class="fas fa-sign-out"></i>  Logout</button>
                        </form>
                    }
                    else
                    {
                        <h1>You are currently logged out.</h1>
                    }
                }
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="darkModeToggle">
                    <label class="form-check-label" for="darkModeToggle">Dark</label>
                </div>
            </div>
        </nav>
    </header>

    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/jquery/datatables/datatables.min.js"></script>
    <div class="container h-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
            document.getElementById('darkModeToggle').addEventListener('change', function () {
            document.body.classList.toggle('dark-mode');
        });
    </script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ScheApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap535/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/admin.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
