<div class="row">
    <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
            <div class="txt">
                <div class="row">
                    <div class="col-2">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="~/images/user-01.jpg" alt="User picture">
                        </div>
                    </div>
                    <div class="col-10">
                        <h1>
                            BUZZ CUT
                        </h1>
                        <h3>10/18/2024 3:55 PM</h3>
                        <P>Note for a professional goes here</P>
                    </div>
                </div>
            </div>
            <a href="#">I am ready</a>
            <div class="ico-card">
                <i class="fa fa-cut"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
            <div class="txt">
                <h1>
                    Web Front-End </br>
                    SOLUTIONS
                </h1>
                <p>How design is implemented on the web.</p>
            </div>
            <a href="#">more</a>
            <div class="ico-card">
                <i class="fa fa-codepen"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
            <div class="txt">
                <h1>UX/UI WEBsite </br>AND MOBILE app</h1>
                <p>User Interface and User Experience Design.</p>
            </div>
            <a href="#">more</a>
            <div class="ico-card">
                <i class="fa fa-empire"></i>
            </div>
        </div>
    </div>
</div>