@model List<scheapp.app.Models.View.ProfessionalScheduleAppointmentVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="darkModeToggle">
        <label class="form-check-label" for="darkModeToggle">Dark Mode</label>
    </div>
    <h1 class="display-4">Schedule Service Appointment System</h1>
    @* <button class="btn btn-primary" onclick="SaveProfessionalScheduleAppointmentRequests();">Test SignalR</button> *@
    <hr/>
    @await Html.PartialAsync("_ScheAppCard",Model)
</div>
<script src="~/lib//microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>

    document.getElementById('darkModeToggle').addEventListener('change', function () {
        document.body.classList.toggle('dark-mode');
    });


    var connection = new signalR.HubConnectionBuilder().withUrl("/ScheAppViewUpdateHub").build();
    connection.on("UpdateAppointmentsView", function (name, status) {
        console.log(name + "" + status);
    });
    connection.start();


function SaveProfessionalScheduleAppointmentRequests() {
    var requestBody = {};
    requestBody.ProfessionalId = 1;
    requestBody.CustomerId = 1;
    requestBody.ServiceTypeId = 1;
    requestBody.StartDT = new Date('2024-12-25 12:30:00');
    requestBody.EndDT = new Date('2024-12-25 13:30:00');
    requestBody.ProfessionalConfirmed = true;
    requestBody.CustomerConfirmed = false;
    requestBody.BusinessId = 1;
    $.ajax({
            'url': '/ScheduleAppointment/SaveProfessionalScheduleAppointmentRequests',
            'contentType': "application/json",
            'type': 'POST',
            'data': JSON.stringify(requestBody),
            'success': function () {
        },
        'error': function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
}
function getUserPrefsSettings(username) {
    $.ajax({
        'url': '/Admin/GetUserPrefsSettings?username=' + username,
        'contentType': "application/json",
        'type': 'GET',
        'success': function (data) {
            $('#divDisplayUserSettings').html(createPrefDispalyHtml(data));
            $('#displayUserInfos').html(userInfosDisplay(data.userInfos, data.userName));
            console.log(data)
        },
        'error': function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
}


</script>