
@{
    ViewData["Title"] = "Home Page";
}
@* <h1>@ViewBag.TestEnvDocker</h1> *@

<div class="text-center">
    @* <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="darkModeToggle">
        <label class="form-check-label" for="darkModeToggle">Dark Mode</label>
    </div> *@
    <h1 class="display-4 mt-5"><span style="text-decoration:underline;">Sch</span>edule Service <span style="text-decoration:underline;">App</span>ointment System</h1>
</div>
<script src="~/lib//microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>

    


function SaveProfessionalScheduleAppointmentRequests() {
    var requestBody = {};
    requestBody.ProfessionalId = 1;
    requestBody.CustomerId = 1;
    requestBody.ServiceTypeId = 1;
    requestBody.StartDT = new Date('2024-12-25 12:30:00');
    requestBody.EndDT = new Date('2024-12-25 13:30:00');
    requestBody.ProfessionalConfirmed = true;
    requestBody.CustomerConfirmed = false;
    requestBody.BusinessId = 1;
    $.ajax({
            'url': '/ScheduleAppointment/SaveProfessionalScheduleAppointmentRequests',
            'contentType': "application/json",
            'type': 'POST',
            'data': JSON.stringify(requestBody),
            'success': function () {
        },
        'error': function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
}
</script>