@model scheapp.app.Models.View.AppointmentsVM
@{
    Layout = "_BusinessLayout";
    string TodayChecked = (Model.IsTodaySelected ? "checked" : "");
    string AllDatesChecked = (Model.IsAllDateSelected ? "checked" : "");
    string selectedDate = (Model.IsDateSelected ? Model.SelectedDate.ToString() : "");
}
<div class="text-center">
    <div class="row">
        <div class="col-4">
            <input id="chkbxAppointmentsToday" class="form-check-input" type="checkbox" value="" @TodayChecked onchange="AppointmentsFilterCheckboxCheck('chkbxAppointmentsToday')">
            <label class="form-check-label" for="flexCheckDefault">
               Today
            </label>
        </div>
        <div class="col-4">
            <input id="chkbxAppointmentsAllDate" class="form-check-input" type="checkbox" value="" @AllDatesChecked onchange="AppointmentsFilterCheckboxCheck('chkbxAppointmentsAllDate')">
            <label class="form-check-label" for="flexCheckDefault">
                All Date
            </label>
        </div>
        <div class="col-4">
            <input id="txtbxAppointmentsSelectedDate" class="form-control" type="date" value="@selectedDate" onchange="AppointmentsFilterByDate()" />
        </div>
    </div>
    @await Html.PartialAsync("_ScheAppCard", Model.Appointments)
</div>


<script>
    // $(function () {
    //     // alert('@selectedDate')
    //     $("#txtbxAppointmentsSelectedDate").val('@selectedDate');
    // });

    var connection = new signalR.HubConnectionBuilder().withUrl("/ScheAppViewUpdateHub").build();
    connection.on("UpdateAppointmentsView", function (conversation_uuid, status) {
        // $('#' + conversation_uuid).html(status);
        // console.log(status)
        // console.log(DisplayNewAppointment(status));
        $("#div_ScheduleAppointmentList").append(DisplayNewAppointment(status))
        // if (status == 'scheapp_client_confirmed') {
        //     window.location.reload();
        //     console.log(DisplayNewAppointment(status));
        // }
    });
    connection.start();
    function AppointmentsFilterCheckboxCheck(chkboxID) {
        let chkbxFilterChecked = $("#" + chkboxID).attr('checked');
        if (chkbxFilterChecked == "checked" || chkbxFilterChecked == undefined) {
            $("#chkbxAppointmentsToday").prop("checked", false);
            $("#chkbxAppointmentsAllDate").prop("checked", false);
            $("#txtbxAppointmentsSelectedDate").val("");
        } 
        $("#" + chkboxID).prop("checked", true);
        // console.log()
        //Make api call to get new view
        window.location.href = "/BusinessAdmin/Appointments?businessId="+@Html.Raw(Model.BusinessId)+"&todayOnly=" + $('#chkbxAppointmentsToday').is(":checked")
    }
    function AppointmentsFilterByDate(chkboxID) {
        $("#chkbxAppointmentsToday").prop("checked", false);
        $("#chkbxAppointmentsAllDate").prop("checked", false);
        let selDate = $("#txtbxAppointmentsSelectedDate").val();
        //Make api call to get new view
        window.location.href = "/BusinessAdmin/Appointments?businessId=" + @Html.Raw(Model.BusinessId)+"&todayOnly=false&date=" + selDate;
    }

    function DisplayNewAppointment(newAppointmentJSON) {
        var newAppointment = JSON.parse(newAppointmentJSON);
        
        var newAppoitmentCardHtml = 
            '<div class="col-md-6 mt-2 col-lg-4 column">'+
                '<div class="card p-1 gr-1">'+
                    '<div class="txt">'+
                        '<div class="row">'+
                            '<div class="col-4">'+
                                '<div class="user-pic">'+
                                '<img class="img-responsive img-rounded" src="/images/user-01.jpg" alt="User picture">'+
                                '</div>' +
                                '<div> ' +
            '<h6>' + newAppointment.CustFrist + ' ' + newAppointment.CustLast + '</h6>' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-8">' +
            '<h5>' + newAppointment.ServiceName + '</h5>' +
            '<h5>' + newAppointment.StartDT + '</h5>' +
                                '<span>Note for a professional goes here</span>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
            '<a href="#" onclick="scheappadmin.NotifyCustomer(' + newAppointment.ScheduleAppointmentId + ')">I am ready</a>' +
                    '<div class="ico-card">' +
                        '<i class="fa fa-cut"></i>' +
                    '</div>' +
                '</div>' +
            '</div>'
        // console.log(newAppoitmentCardHtml);
        return newAppoitmentCardHtml;
    }
</script> 
