@model List<scheapp.app.Models.View.ProfessionalScheduleAppointmentVM>
@{
    Layout = "_BusinessLayout";
}
<div class="text-center">
    @await Html.PartialAsync("_ScheAppCard", Model)
</div>
@* <table id="tblScheApp_BusinessAdminAppointments" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>StartDT</th>
            <th>EndDT</th>
            <th>Professional</th>
            <th>Service</th>
            <th>Customer</th>
            <th>RequestDate</th>
            <th>ProfessionalConfirmed</th>
            <th>CustomerConfirmed</th>
        </tr>
    </thead>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        scheappadmin.LoadScheduledAppointments(2);
    });
</script> *@
