@using scheapp.app.Models.Data.DspModels
@{
    ProfessionalBusinessDetailDsp businessProfessional = (ProfessionalBusinessDetailDsp)ViewBag.BusinessProfessional;
    ViewData["Title"] = "Schedules";
    if (businessProfessional.ProfessionalRole == "business_admin")
    {
        Layout = "_BusinessLayout";
    }
    else if (businessProfessional.ProfessionalRole == "business_professional")
    {
        Layout = "_ProfessionalLayout";
    }
}

@{
    ViewData["Title"] = "Professionals";
    Layout = "_BusinessLayout";
}

<h1>Professionals</h1>

<p>
    <a href="/ProfessionalRegister/Register">Create New</a>
</p>
<style>
    #divScheAppContentDisplay .fixed-table-toolbar .search-input {
        margin-right: 15px;
    }

    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<input type="hidden" id="hdnBusinessId" value="(@businessProfessional.BusinessId)" />

<div id="toolbar">
    <a class="btn btn-outline-secondary ms-4" href="/ProfessionalRegister/Register"> <i class="fa fa-add"></i>Create New</a>
</div>
<table id="table"
       data-mobile-responsive="true"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-show-columns-toggle-all="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 20, 50, all]"
       data-show-footer="true"
       data-side-pagination="client" 
       data-url="/ProfessionalsData/GetProfessionals?businessId=" +@businessProfessional.BusinessId
       @* data-response-handler="responseHandler"> *@
</table>
<script src="~/js/businessadmin/professionals.js"></script>