@{
    Layout = null;
}

<table id="tblScheApp_BusinessAdminAppointments" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>StartDT</th>
            <th>EndDT</th>
            <th>Professional</th>
            <th>Service</th>
            <th>Customer</th>
            <th>RequestDate</th>
            <th>ProfessionalConfirmed</th>
            <th>CustomerConfirmed</th>
        </tr>
    </thead>
</table>